.draggle-contain {
    position: relative;

    ::selection {
        background: transparent;
    }

    ::-moz-selection {
        background: transparent;
    }

    .col {
        cursor: pointer;
    }

    .dragging {
        position: absolute;
    }
}