.grid {
    .ant-col-6 {
        background: #2bb386;
        border-right: 1px solid #fff;
        min-height: 40px;
    }
}

.draggle-contain {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}